* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.container {
  border: 3px solid rgb(0, 0, 0);
  width: 600px;
  margin: 20px auto;
  padding: 50px;

}

hr {
  border: 1px solid rgb(0, 0, 0);
  width: 400px;
  margin-block-end: 12px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-block-end: 8px;
}

h2 {
  font-size: 0.9rem;
  font-weight: 400px;
  color: green;
  margin-block: 20px 8px;
}

h3 {
  font-size: 1rem;
  color: blue;
  margin-block: 20px 8px;
}

p {
  font-size: 1rem;
  margin-block-end: 6px;
}

ul {
  padding-left: 20px;
  margin-block: 8px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-inline-end: 10px;
}

a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 5px 8px;
}

footer p {
  text-align: center;
  font-size: 0.8rem;
}