@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Metrophobic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased
}

img {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  appearance: none;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

fieldset,
input {
  border: 0;
}

html {
  font-family: "Roboto Mono", serif;
  font-size: 62.5%;
}

body {
  padding-top: 8.5rem;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

header > .container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding-bottom: 0.5rem;
}

header {
  border-bottom: 2px solid black;
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
}

.nav-list-items {
  list-style: none;
  font-size: 1.6rem;
}

.nav-list {
  display: flex;
  gap: 1rem;
}

.logo {
  width: 20rem;
}

.hero {
  background: rebeccapurple;
  color: white;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero > .container {
  text-align: center;
}

.hero-title {
  font-family: "Poppins", serif;
  font-size: 3.2rem;
  color: #F6C339;
  text-shadow: 2px 2px 0px  black;
}

.hero-subtitle {
  font-family: "Metrophobic", serif;
  font-size: 1.5rem;
}

.main {
  background: #FFF7E4;
  padding-block: 2rem 1rem;
}

.projects {
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #000;
  box-shadow: 6px 6px 0px;
}

h2 {
  text-align: center;
  font-family: "Poppins", serif;
  font-size: 2.2rem;
}

h3 {
  font-family: "Poppins", serif;
  font-size: 1.8rem;
  padding-block: 1rem;
}

.projects-title {
  padding-block: 2rem;
}

.project-list-items {
  font-size: 1.6rem;
  list-style: none;
  border-top: 1px solid #000;
  padding: 1.5rem
}

.main-right-section {
  margin-top: 2.5rem;
  background: #F6C339;
  border: 1px solid #000;
  box-shadow: 6px 6px 0px;
  padding: 2rem;
}

.education-content,
.education-list,
article > p {
  font-size: 1.6rem;
}

.education-subtitle {
  padding-block: 1rem;
}

.education-content:nth-child(3) {
  padding-block: 2rem;
}

.education-list {
  padding-inline: 2rem;
}

.education-list-items {
  list-style-type: square;
}

.review-section {
  margin-block: 2rem;
}

.review-section-subtitle {
  margin-bottom: 2rem;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.review1 {
  background: #F6CDF6;
  border: 1px solid #000;
  box-shadow: 6px 6px 0px;
  padding: 2rem;
  font-size: 1.6rem;
}

.reviewer {
  margin-top: 1rem;
}

footer {
  font-family: "Handlee", serif;
  font-size: 1.6rem;
  text-align: center;
  padding-block: 4rem;
  background: #ACC9B2;
}

@media (min-width: 600px) {
  .hero {
    height: 280px;
  }

  .hero-title {
    font-size: 5.6rem;
  }

  .hero-subtitle {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .main-right-section {
    display: flex;
    align-items: flex-start;
  }

  .main-section {
    max-width: 300px;
  }

  .main-right-section {
    padding: 0;
  }

  .main-right-section h2 {
    text-align: justify;
    
  }

  .main-section h2 {
    padding:  2rem 0 0 2rem;
  }

  article {
    padding-inline-start: 2rem;
  }

  article:nth-child(1) {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #000;
  }

  .education-subtitle {
    padding-block: 0 1rem;
  }

  .education {
    border-left: 1px solid #000;
    padding: 2rem;
  }

  
}

@media (min-width: 1024px) {
  header > .container {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .logo {
    width: 20rem;
    padding-right: 1rem;
    padding-block: 2rem;
    border-right: 2px solid black;
  }

  .nav-list-items {
    font-size: 2rem;
  }

  .hero {
    height: 600px;
  }

  .hero-title {
    font-size: 10rem;
    text-shadow: 4px 4px 0 #000;
  }

  .hero-subtitle {
    font-size: 4rem;
  }

  .columns {
    /* display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column: 1rem;
    place-items: center; */
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .left-section {
    flex-grow: 1;
    padding-top: 25px;
  }

  .projects {
    text-align: justify;
    min-height: 36rem
  }

  .projects-title {
    text-align: justify;
    padding-left: 2rem;
  }

  .review-section-subtitle {
    font-size: 3rem;
    text-align: justify;
  }

  .reviews {
    flex-direction: row;
  }
}


